<footer class="footer bg-dark py-4 mt-auto">
    <div class="container">
        <div class="text-muted">&copy; 2021私藏台灣美食地圖</div>
        <div class="text-muted">tel:0800-261743</div>
    </div>
</footer>